/* this is necessary because 
react-pdf renders the text-layer slightly above 
the actual rendered text
so we hide the text-layer 
and show it only via the background-color
*/

.react-pdf__Page__textContent span {
	opacity: 0.1;
}

.react-pdf__Page__textContent span::selection {
	background-color: blue;
}

.react-pdf__Document {
	line-height: initial;
}
