.Element {
	background-color: rgb(160, 95, 106);
	border: 2px solid #000;
	overflow-y: scroll;
	overflow-x: hidden;
}

.WorkbenchSlot {
	background-color: cadetblue;
	border: 2px solid #000;
	overflow-y: scroll;
	overflow-x: hidden;
}

.Workbench {
	background-color: rgb(16, 54, 5);
	border: 2px solid #000;
	overflow-y: scroll;
	overflow-x: hidden;
}
