.GridLayout {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
}

.GridColumn {
	display: grid;
	gap: 1rem;
	grid-template-rows: repeat(2, 1fr);
}

.GridColumnSlot {
	border: 5px solid #000;
}

.GridSlotElement {
	font-size: 40pt;
	border: 5px solid rgb(104, 25, 25);
}
